.items {
  position: absolute;
  top: -170px;
  left: -100px;
  background-color: white;
  padding: 10px;
  border-radius: 18px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.item {
  font-weight: 400;
  font-size: 24px;
  padding: 15px;
  padding-right: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.01s ease;
  }
}

.img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.fileInput {
  display: none;
}
