.app.dark {
  --bg-color-primary: #121212;
  --bg-color-secondary: #00a3ff;
  --bg-color-head-foot: #121212;
  --bg-color-chat: #242424;
  --bg-color-msg-left: #292929;
  --bg-color-input: #121212;
  --bg-color-modal: #292929;

  --primary-color: #f0f0f0;
  --secondary-color: white;
  --default-color: #00a3ff;
  --border-color: #303030;

  --shadow-menu: 0 1px 3px rgba(255, 255, 255, 0.1);
  --shadow-menu-item: 0 4px 8px rgba(255, 255, 255, 0.2);
}
