.wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  background-color: var(--bg-color-primary);
  color: var(--primary-color);
}

.header {
  border-bottom: 1px solid var(--border-color);
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px;
  background-color: var(--bg-color-head-foot);
}

.name {
  font-weight: 500;
  font-size: 20px;
}

// .logout {
//   font-weight: 500;
//   font-size: 20px;
//   background-color: transparent;
//   color: inherit;
//   border: none;
//   cursor: pointer;
//   &:hover {
//     color: #00a3ff;
//   }
// }
.btnHeader {
  width: 36px;
  height: 36px;
  background: transparent;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}

//======================CONTENT
.content {
  flex-grow: 1;
  padding: 10px 26px;
  overflow-y: auto;
  height: 500px;
  background-color: var(--bg-color-chat);
}

.emoji {
  cursor: pointer;
}

.emojiBlock {
  position: absolute;
  bottom: 85px;
}

.menuBlock {
  position: relative;
  cursor: pointer;
}

.paperclip {
  width: 28px;
  height: 28px;
  margin-right: 20px;
  z-index: 100;
  cursor: pointer;
}

//======================TYPING
.typing {
  border-top: 1px solid var(--border-color);
  padding: 16px 26px;
  display: flex;
  align-items: center;
  background-color: var(--bg-color-head-foot);
}

.inputMessage {
  margin: 0 20px;
  font-weight: 400;
  font-size: 24px;
  border: none;
  flex-grow: 1;
  resize: none;
  overflow-y: hidden;
  max-height: 400px;
  background-color: inherit;
  color: inherit;
  &:focus {
    outline-width: 0;
  }
}

.btn {
  border-radius: 12px;
  width: 119px;
  height: 46px;
  background: #00a3ff;
  color: white;
  border: none;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  span {
    margin-right: 10px;
  }
  &:hover {
    transition: all 1s ease;
    transform: scale(1.1);
  }
}
