.message {
  display: inline-block;
  padding: 10px 15px;
  margin: 10px 0;
  border: 1px solid var(--border-color);
  border-radius: 18px;
  max-width: 60%;
  word-wrap: break-word;
  background-color: var(--bg-color-msg-left);
  align-self: flex-start;
  font-weight: 400;
  font-size: 18px;
  color: var(--primary-color);
  div span {
    margin-bottom: 10px;
    font-weight: 500;
  }
}

.messageRight {
  background-color: #00a3ff;
  color: white;
  align-self: flex-end;
  div {
    color: #fff;
  }
}

.chatContainer {
  display: flex;
  flex-direction: column;
}

.img {
  margin-top: 15px;
}

.time {
  font-size: 12px;
  margin-top: 5px;
  text-align: right;
}

.name {
  font-weight: 500;
  font-size: 16px;
  text-align: right;
}
